# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
*.env
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/
__pycache__/
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and Spotlight files
Icon?
._*
.Trashes
